.liste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-top: 15px;
  background-color: var(--main-bg-color);
  margin-bottom: 50px;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .liste {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
