.cart {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: var(--theme-color);
  color: white;
  padding: 0.1rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  font-size: 15px;
}
.icon {
  width: 25px;
  height: 25px;
}
.iconHolder {
  background-color: var(--header-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
