.main {
  min-height: 78vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 100%;
}
.contentArea {
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: larger;
}
@media screen and (max-width: 900px) {
  .area {
    width: 100%;
    flex-direction: column;
  }
}
