.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 100%;
  height: 2px;
  background-color: #cdd9ed;
  margin-top: 20px;
}
.slider .thumb {
  width: 23px;
  height: 23px;
  cursor: grab;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--theme-color);
  top: -12px;
}
.track-1 {
  background-color: #275efe;
}
.box {
  width: 100%;
  max-width: 320px;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 10px;
}
.values {
  margin: 0;
  font-weight: 500;
  color: #275efe;
}
small {
  font-size: 14px;
  margin-top: 8px;
  display: block;
  color: #99a3ba;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: black;
}
h3 span {
  font-weight: 500;
}
