.main {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 700px;
}
.ppArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 700px;
  margin-bottom: 20px;
  margin-left: 5px;
}
